background-size: auto, cover;
color: #593636;
font-family: Lobster, sans-serif;
}
color:;
display:;
height:;
width:;
margin:auto;
text-align:center;
text-indent:;
white-space:;
overflow:;


 line-height:;
 font-weight:;
 font-style:;
 letter-spacing:
 text-transform: 