  body {
background: background:url("images/stripes.png") repeat url("images/background.jpg") no-repeat;
background-size: auto, cover;
color: #fffff;
font-family: cabin, serif;
}

section {
margin:200px 0 0 100px;
}

hr {
background: #666666;
border: 0 none;
height: 2px;
margin: 0;
width: 50px;
}

#appstorebutton {
width: 185;
}