  body {
background: url("images/stripes.png") repeat-x, url("images/background.jpg") no-repeat;
background-size: auto, cover;
color: #ffffff;
font-family: Arial, sans-serif;
}

section {
margin:200px 0 0 100px;
}

hr {

border-color:#fd6e6e;

margin: 0;
width: 50px;
}
