  body  {
  background-color: dimgray;
  
  }
  h1 {
    color: white;
    font-family: Cabin; serif; 
    font-size: 22 px

  }

  hr {
  width: 200px;
  }

  a {
    color: navy;
    font-style: italic;
    text-decoration: none;
  }